<div
    class="modal fade"
    id="{% block modal_id 'modal-bs' %}"
    tabindex="-1"
    aria-hidden="true"
    {{ stimulus_controller('modal', { options: options ?? null }) }}
>
    <div class="modal-dialog modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">
                    {% block modal_title '' %}
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% block modal_body '' %}
            </div>
            <div class="modal-footer">
                {% block modal_footer %}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                {% endblock modal_footer %}
            </div>
        </div>
    </div>
</div>
