{
    frankenphp
    auto_https off
    debug
}

http://{$SERVER_NAME}:80, http://frontend:80 {
    encode zstd gzip

    root /var/www/public
    php_server

    mercure {
        # Transport to use (default to Bolt)
        transport_url {$MERCURE_TRANSPORT_URL:bolt:///data/mercure.db}
        # Publisher JWT key
        publisher_jwt {env.MERCURE_PUBLISHER_JWT_KEY} {env.MERCURE_PUBLISHER_JWT_ALG}
        # Subscriber JWT key
        subscriber_jwt {env.MERCURE_SUBSCRIBER_JWT_KEY} {env.MERCURE_SUBSCRIBER_JWT_ALG}
        # Allow anonymous subscribers (double-check that it's what you want)
        anonymous
        # Enable the subscription API (double-check that it's what you want)
        subscriptions
        # Only in dev!
        demo
        ui
        # Extra directives
        {$MERCURE_EXTRA_DIRECTIVES}
    }

    log {
        output stdout
        format json
    }
}
