version: '3.7'

volumes:
    postgres-data: {}

services:
    frontend:
        build:
            context: 'infrastructure/docker/services/frontend'
            args:
                - USER_ID=${UID:-1000}
        depends_on:
            - postgres
        volumes:
            - ".:/home/app/application:cached"
            - "${COMPOSER_CACHE_DIR:-~/.cache/composer}:/home/app/.composer/cache"

    postgres:
        build: 'infrastructure/docker/services/postgres'
        environment:
            POSTGRES_PASSWORD: qotd
            POSTGRES_USER: qotd
            POSTGRES_DB: qotd
        volumes:
            - postgres-data:/var/lib/postgresql/data
