parameters:
	ignoreErrors:
		-
			message: "#^Method App\\\\Repository\\\\QotdRepository\\:\\:findForHomepage\\(\\) should return Knp\\\\Component\\\\Pager\\\\Pagination\\\\PaginationInterface\\<string, App\\\\Entity\\\\Qotd\\> but returns Knp\\\\Component\\\\Pager\\\\Pagination\\\\PaginationInterface\\<int, mixed\\>\\.$#"
			count: 1
			path: src/Repository/QotdRepository.php

		-
			message: "#^Method App\\\\Repository\\\\QotdRepository\\:\\:findForHomepageNotVoted\\(\\) should return Knp\\\\Component\\\\Pager\\\\Pagination\\\\PaginationInterface\\<string, App\\\\Entity\\\\Qotd\\> but returns Knp\\\\Component\\\\Pager\\\\Pagination\\\\PaginationInterface\\<int, mixed\\>\\.$#"
			count: 1
			path: src/Repository/QotdRepository.php
