{% extends 'base.html.twig' %}

{% set active = direction.toTwigActiveSection %}

{% block title %}{{ direction.toTitle }}{% endblock %}

{% block body %}
    {% for qotd in pagination %}
        {{ include('qotd/_qotd.html.twig', { qotd }, with_context = false) }}
    {% else %}
        <div class="card mb-2">
            <div class="card-body">
                No QOTD found.
            </div>
        </div>
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
