<twig:Modal>
    <div class="d-flex justify-content-center m-4">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <twig:block name="header_container"></twig:block>
    <twig:block name="footer_container"></twig:block>
</twig:Modal>
