{% props
    title=null,
    details=null,
%}
<div
    class="toast"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
    {{ stimulus_controller('toast') }}
>
    <div class="toast-header">
        {% if title %}
            <svg class="rounded me-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#007aff"></rect></svg>
            <strong>{{ title }}</strong>
            {% if details %}
                <small>{{ details }}</small>
            {% endif %}
        {% endif %}
        <button type="button" class="btn-close ms-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        {% block content '' %}
    </div>
</div>
