
<div {{ attributes.add(stimulus_controller('search')) }}>
    <form class="mb-3">
        <label for="query" class="form-label d-none">Search</label>
        <div class="input-group">
            <span class="input-group-text">🔍</span>
            <input
                type="search"
                name="query"
                data-model="query"
                id="query"
                class="form-control"
                autocomplete="off"
                placeholder="Search"
            >
            <button class="btn btn-primary">
                Search
            </button>
        </div>
    </form>

    {% if query %}
        {% for qotd in this.qotds %}
            {{ include('qotd/_qotd.html.twig', { qotd }, with_context = false) }}
        {% else %}
            <div class="card mb-2">
                <div class="card-body">
                    This query did not match any QOTD
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="card mb-2">
            <div class="card-body">
                Please, type something to search
            </div>
        </div>
    {% endif %}
</div>
